.submitButton
{
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.deleteButton
{
	width: 100%;
	background-color: #d35443;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.listButton
{
	width: 100%;
	background-color: #435dd3;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.displayResult
{
	/*border-radius: 6px;*/
	width: 100%;
  	padding: 12px 20px;
  	margin: 8px 0;
  	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.displayDebug
{
	/*border-radius: 6px;*/
	width: 100%;
  	padding: 12px 20px;
  	margin: 8px 0;
  	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}


.menuButton {
    display: block;
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    background-color: #07AD87;
    padding: 30px 30px;
    border: 1px solid #038265;
    border-radius: 3px;
	width: 15em;
}
.menuButton:hover {
	background-color: #038265;
}

.styled-table { 
	border-collapse: collapse; 
	margin: 25px 0; 
	font-size: 1em; 
	font-family: sans-serif; 
	min-width: 450px; 
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
}

.styled-table thead tr { 
	color: #ffffff; 
	text-align: middle; 
}

.styled-table th, .styled-table td { 
	padding: 12px 15px; 
}

.styled-table tbody tr { 
	border-bottom: 1px solid #dddddd; 
} 

.styled-table tbody tr:nth-of-type(even) { 
	background-color: #f3f3f3; 
} 

.styled-table tbody tr:last-of-type { 
	border-bottom: 2px solid #000000; 
}

.h2 {
	font-size: 1em; 
	font-family: sans-serif; 
}

.shadowbox {
	text-align: -webkit-center;
	width: 40em;
	border: 1px solid #333;
	box-shadow: 8px 8px 5px #444;
	padding: 8px 12px;
	background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}